{% trans_default_domain "dzangocart" %}

<table class="table table-condensed table-hover" id="sales">
	<thead>
		<tr>
			<th class="check"><input type="checkbox" id="checkall" /></th>
			<th class="datetime">{% trans %}sales.date{% endtrans %}</th>
			<th class="order_id">{% trans %}sales.order_id{% endtrans %}</th>
			<th class="customer">{% trans %}sales.customer{% endtrans %}</th>
			<th class="item">{% trans %}sales.item{% endtrans %}</th>
			<th class="quantity">{% trans %}sales.quantity{% endtrans %}</th>
			<th class="currency">{% trans %}sales.currency{% endtrans %}</th>
			<th class="net">{% trans %}sales.net{% endtrans %}</th>
			<th class="tax">{% trans %}sales.tax{% endtrans %}</th>
			<th class="gross">{% trans %}sales.gross{% endtrans %}</th>
			<th class="paid">{% trans %}sales.paid{% endtrans %}</th>
			<th class="affiliate">{% trans %}sales.affiliate{% endtrans %}</th>
			<th class="demo">{% trans %}sales.test{% endtrans %}</th>
			<th class="actions"><i class="fa fa-cog"></i></th>
		</tr>
		<tr class="filters">
			<th></th>
			<th></th>
			<th class="filters_keyup">{{ form_widget(filter.order_id) }}</th>
			<th>{{ form_widget(filter.customer) }}</th>
			<th class="filters_keyup">{{ form_widget(filter.name) }}</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
