{% trans_default_domain "dzangocart" %}

<table class="table table-condensed" id="payments">
    <thead>
        <tr>
            <th class="check"><input type="checkbox" id="checkall" /></th>
            <th class="datetime">{% trans %} dzangocart.payments.date {% endtrans %}</th>
            <th class="id">{% trans %} dzangocart.payments.order_id {% endtrans %}</th>
            <th class="gateway">{% trans %} dzangocart.payments.gateway {% endtrans %}</th>
            <th class="type">{% trans %} dzangocart.payments.type {% endtrans %}</th>
            <th class="amount">{% trans %} dzangocart.payments.amount {% endtrans %}</th>
            <th class="status">{% trans %} dzangocart.payments.status {% endtrans %}</th>
            <th class="test">{% trans %} dzangocart.payments.test {% endtrans %}</th>
            <th class="actions"><i class="fa fa-cog"></i></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

