{% trans_default_domain "dzangocart" %}

<table class="table table-condensed" id="sips">
	<thead>
		<tr>
			<th colspan="9"></th>
			<th colspan="3" class="center">{% trans %}sips.transactions.response_code.title{% endtrans %}</th>
			<th class="actions"></th>
		</tr>
		<tr>
			<th class="check"><input type="checkbox" id="checkall" /></th>
			<th class="date">{% trans %}sips.transactions.date{% endtrans %}</th>
			<th class="time">{% trans %}sips.transactions.time{% endtrans %}</th>
			<th class="order_id">{% trans %}sips.transactions.order_id{% endtrans %}</th>
			<th class="amount">{% trans %}sips.transactions.amount{% endtrans %}</th>
			<th class="currency">{% trans %}sips.transactions.currency{% endtrans %}</th>
			<th class="payment_means">{% trans %}sips.transactions.payment_means{% endtrans %}</th>
			<th class="card_number">{% trans %}sips.transactions.card_number{% endtrans %}</th>
			<th class="transaction_id">{% trans %}sips.transactions.transaction_id{% endtrans %}</th>
			<th class="code">{% trans %}sips.transactions.response_code.code{% endtrans %}</th>
			<th class="bank">{% trans %}sips.transactions.response_code.bank{% endtrans %}</th>
			<th class="cvv">{% trans %}sips.transactions.response_code.cvv{% endtrans %}</th>
			<th class="actions">{% trans %}sips.transactions.actions.title{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
