{% spaceless %}

{% trans_default_domain "dzangocart" %}

<div class='btn-group'>
    <i class='fa fa-cog dropdown-toggle' data-toggle='dropdown'></i>
	<ul class='dropdown-menu dropdown-menu-right navbar-right' role='menu'>
		<li>
			<a href={{ path('dzangocart_user_purchases_show', { id: purchase.order_id }) }}>{% trans %}purchases.actions.show{% endtrans %}</a>
		</li>
	</ul>
</div>
{% endspaceless %}
