{% extends "DzangocartBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart" %}

{% block dzangocart_page_title %}{% trans %}dzangocart.catalogue.page_title{% endtrans %}{% endblock %}

{% block body_class %}catalogue{% endblock %}

{% block dzangocart_content %}
	<table class="table treetable">
		<thead>
			<tr>
				<th class="name">{% trans %}dzangocart.catalogue.name{% endtrans %}</th>
				<th class="code">{% trans %}dzangocart.catalogue.code{% endtrans %}</th>
				<th class="code">{% trans %}dzangocart.catalogue.pcode{% endtrans %}</th>
				<th class="price">{% trans %}dzangocart.catalogue.price{% endtrans %}</th>
				<th class="price">{% trans %}dzangocart.catalogue.tax_included{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
		{% include "DzangocartBundle:Catalogue:catalogue.html.twig" %}
		</tbody>
	</table>

{% endblock %}

{% block dzangocart_head_style %}
	{{ parent() }}
	{% include "DzangocartBundle:Catalogue:catalogue_head_style.html.twig" %}
{% endblock %}

{% block dzangocart_foot_script %}
	{{ parent() }}
	{% include "DzangocartBundle:Catalogue:catalogue_foot_script.html.twig" %}
{% endblock %}