{% extends "DzangocartBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart" %}

{% form_theme form "DzangocartBundle:Form:bootstrap3.html.twig" %}

{% block dzangocart_page_title %}{% spaceless %}
{% trans with { '%name%': category.name } %}category.show.page_title{% endtrans %}
{% endspaceless %}{% endblock %}

{% block dzangocart_page_nav %}
<a href="{{ path('dzangocart_catalogue') }}"><i class="fa fa-long-arrow-left"></i> {% trans %}category.show.back{% endtrans %}</a>
{% endblock %}

{% block dzangocart_content %}
    {% for flashMessage in app.session.flashbag.get('Category.update.success') %}
		<div class="alert alert-success">
			{{ flashMessage }}
		</div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}
