.dzangocart table.table {
    display: none;
}

.dzangocart table.table th,
.dzangocart table.table td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.dzangocart table.table th.datetime {
    width: 8em;
}

.dzangocart table.table th.order_no {
    width: 4em;
}

.dzangocart table.table th.ccy {
    width: 4em;
}

.dzangocart table.table th.net {
    width: 8em;
}

.dzangocart table.table th.tax {
    width: 5em;
}

.dzangocart table.table th.gross {
    width: 8em;
}

.dzangocart table.table th.affiliate {
    width: 4em;
}

.dzangocart table.table th.demo {
    width: 4em;
}

.dzangocart table.table td.number {
    text-align: right;
    padding-right: 5px;
}


.dzangocart .filters .control-group {
    margin-bottom: 0;
}

.dzangocart .filters .control-group label {
    margin-bottom: 0;
}

.dzangocart .filters .date {
    float: left;
    margin-right: 0.5em;
}

.dzangocart .filters .test {
    clear: both;
}