{% trans_default_domain "dzangocart" %}

<div class="dzangocart orders">
	{% block filters %}
	{% include "DzangocartBundle:Order:filters.html.twig" with { form: form } %}
	{% endblock %}

	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="check"><input type="checkbox" id="checkall" /></th>
				<th class="date">{% trans %}dzangocart.orders.date{% endtrans %}</th>
				<th class="order_no">{% trans %}dzangocart.orders.number{% endtrans %}</th>
				<th class="customer">{% trans %}dzangocart.orders.customer{% endtrans %}</th>
				<th class="currency">{% trans %}dzangocart.orders.currency{% endtrans %}</th>
				<th class="net">{% trans %}dzangocart.orders.net{% endtrans %}</th>
				<th class="tax">{% trans %}dzangocart.orders.tax{% endtrans %}</th>
				<th class="gross">{% trans %}dzangocart.orders.gross{% endtrans %}</th>
				<th class="paid">{% trans %}dzangocart.orders.paid{% endtrans %}</th>
				<th class="affiliate">{% trans %}dzangocart.orders.affiliate{% endtrans %}</th>
				<th class="demo">{% trans %}dzangocart.orders.test{% endtrans %}</th>
				<th class="actions">{% trans %}dzangocart.orders.actions{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>